.container {
	max-width: 1170px;
	margin: 0 auto;
}

body {
	font-family: sans-serif;
}

.hero-content {
	display: flex;
	justify-content: space-between;
	background-color: #313131;
}

.hero-logo,
.hero-menu,
.hero-search-icon {
	padding: 23px 27px;
}

.hero-logo {
	display: flex;
	justify-content: flex-start;
}

.hero-logo img {
	padding-right: 27px;
}

.hero-title {
	color: #FFFFFF;
	font-size: 22px;
	line-height: 30px;
	font-weight: bold;
}

.hero-menu {
	display: flex;
	justify-content: center;
}

.hero-menu-list {
	display: flex;
	text-transform: uppercase;
	gap: 35px;
	align-items: center;
}

.hero-menu-list a:hover {
	color: #14B9D5;
	text-decoration: none;
}

.hero-item a {
	color: #FFFFFF;
	font-size: 15px;
	line-height: 20px;
}

.hero-search-icon {
	display: flex;
	align-items: center;
	background-color: #000000;
}


.hero-background-img {
	background-image: url(../img/header-background.png);
	width: 100%;
	height: 369px;
	display: flex;
}

.hero-background-info {
	text-align: center;
	margin: 164px auto;
}

.hero-background-title {
	text-transform: uppercase;
	font-size: 27px;
	line-height: 37px;
	color: #FFFFFF;
	margin-bottom: 44px;
}


.hero-background-text {
	display: inline;
}


.hero-background-text a {
	color: #FFFFFF;
	font-size: 18px;
	line-height: 24px;
	margin-left: 20px;
}

.hero-background-text a:first-child {
	background-color: #89CA62;
	padding: 16px 19px;
}

.hero-background-text a:last-child {
	background-color: #14B9D5;
	padding: 16px 30px
}

.content-popular {
	text-align: center;
	background-color: #F2F2F2;
}

.content-title {
	color: #18B4CF;
	font-size: 27px;
	line-height: 36px;
	padding-bottom: 50px;
	padding-top: 50px;
}

.popular-info {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 1030px;
	gap: 30px;
}


.popular-info-content {
	/* align-items: flex-start; */
	border: none;
	margin-bottom: 40px;
	background: #FFFFFF;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.popular-text {
	font-size: 18px;
	line-height: 24px;
	color: #353A3D;
	padding: 20px 16px;
	font-weight: bold;
}


.background-clients-img {
	text-align: center;
	background-image: url(../img/shape.png);
	width: 100%;
	height: 580px;

}

.clients-title {
	padding-top: 106px;
	padding-bottom: 87px;
	font-size: 32px;
	line-height: 43px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
}

.section-line {
	border: none;
	width: 30px;
	height: 3px;
	margin-bottom: 106px;
}

.clients-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.rated-content {
	display: grid;
	text-align: center;
}
.content-title{
	font-weight: bold;
	text-transform: uppercase;
}
.rated-list {
	display: grid;
	/*grid-template-columns: repeat(7, 1fr);*/
	margin-bottom: 48px;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.hot-news{
	display: grid;
	text-align: center;
}
.hot-news-title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 27px;
	line-height: 37px;
	color: #18B4CF;
	margin-bottom: 50px;
}

.wrapper-news{
	width: 1145px;
	margin: 0 auto;
	display: grid;
	grid-template-areas:
			"emirate-img emirate emirate spain"
}

.emirate{
	background: #F9F7F7;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.title-emirate-text{
	width: 319px;
	margin: 41px 24px 14px 31px;
	text-align: right;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	color: #353A3D;
}
.emirate-subtext{
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: right;
	color: #5B6469;
	margin-right: 24px;
	margin-bottom: 40px;
}
.spain{
	margin-left: 35px;
}
.title-spain-text{
	margin: 14px 27px 11px 27px;
	background: rgba(0, 0, 0, 0.0001);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #353A3D;
}

.wrapper-news-second{
	width: 1145px;
	margin: 0 auto;
	display: grid;
	grid-template-areas:
			"egypt egypt maldives maldives";
}

.egypt{
	margin-top: 44px;
	margin-right: 60px;
	margin-bottom: 46px;
	background: #F9F7F7;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.title-egypt-text{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: right;
	color: #353A3D;
	margin: 12px 14px 15px 122px;
}
.egypt-subtext{
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: right;
	color: #5B6469;
	margin-right: 14px;
	margin-bottom: 3px;
	margin-left: 13px;
}
.maldives{
	margin-top: 44px;
	margin-bottom: 46px;
	background: rgba(0, 0, 0, 0.0001);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.title-maldives-text{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: right;
	color: #353A3D;
	margin: 12px 14px 15px 122px;
}
.maldives-subtext{
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: right;
	color: #5B6469;
	margin-right: 14px;
	margin-bottom: 3px;
	margin-left: 13px;
}



.wrapper-news-third{
	width: 1145px;
	margin: 0 auto;
	display: grid;
	grid-template-areas:
			"tenerife tenerife britain britain";
}

.tenerife{
	margin-top: 44px;
	margin-right: 60px;
	margin-bottom: 46px;
	background: #F9F7F7;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.title-tenerife-text{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: right;
	color: #353A3D;
	margin: 12px 14px 15px 122px;
}
.tenerife-subtext{
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: right;
	color: #5B6469;
	margin-right: 14px;
	margin-bottom: 3px;
	margin-left: 13px;
}
.britain{
	margin-top: 44px;
	margin-bottom: 46px;
	background: rgba(0, 0, 0, 0.0001);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.title-britain-text{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: right;
	color: #353A3D;
	margin: 12px 14px 15px 122px;
}
.britain-subtext{
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: right;
	color: #5B6469;
	margin-right: 14px;
	margin-bottom: 3px;
	margin-left: 13px;
}
.wrapper-news-fourth{
	width: 1145px;
	margin: 0 auto;
	margin-bottom: 71px;
	display: grid;
	grid-template-areas:
			"ireland ireland-img ireland-img spain-king-text";
}
.ireland{
	margin-right: 35px;
	background: rgba(0, 0, 0, 0.0001);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.title-ireland-text{
	margin: 5px 26px 20px 27px;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #353A3D;
}
.spain-king-text{
	background: #F9F7F7;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.title-spain-king-text{
	margin: 41px 25px 14px 59px;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-align: right;
	color: #353A3D;
}
.spain-king-subtext{
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: right;
	color: #5B6469;
	margin-right: 24px;
}
.footer-wrapper{
	width: 100%;
	background: #000000;
	height: 80px;
	display: grid;
	grid-template-areas:
	"fotter-text footer-img";
}
.footer-text{
	font-size: 13px;
	line-height: 13px;
	color: #FFFFFF;
	margin-top: 29px;
	margin-left: auto;
}
.footer-logo{
	margin-top: 29px;
	margin-right: 3px;
	margin-bottom: 27px;
	margin-left: 500px;
}
.footer-sublogo{
	margin-top: 29px;
	margin-bottom: 35px;

}