
body, html {
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: #fbcf00;
    background-color: #000;
    overflow: hidden;
    font-family: sans-serif;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}

#titles {
    position: absolute;
    width: 90%;
    height: 200%;
    bottom: 0;
    left: 5%;
    font-size: 400%;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(18deg) scaleY(3);
}

#titles p {
    text-align: justify;
    margin-top: 1em;
}

#titles p.center {
    margin-top: 0.5em;
    text-align: center;
}

#titles p:nth-child(3) {
    text-align: initial;
}

#title-content {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear infinite;
}