.input:focus {
    border: 1px solid green;
}

.input {
    outline: none;
    border: 1px solid gray;
}

.XStyle {
    display: inline-block;
    border-radius: 60%;
    border: 1px solid black;
    margin-left: 10px;
}

.green {
    color: green;
}

.red {
    border: 1px solid red;
}