body{
    margin: auto;
    font-family: Roboto, sans-serif;
}
.logo-title{
    display: block;
    padding-top: 63px;
    margin-bottom: 38px;

    font-size: 80px;
    line-height: 94px;
}
.logo-part{
    color: deepskyblue;
}

.menu{
    display: flex;
    margin-top: 38px;
    background-color: #35444F;
    justify-content: center;
}
.menu-item{
    border-left: 1px solid white;
    padding: 20px 40px;
    font-size: 24px;
    line-height: 28px;
}
.menu-link{
    color: white;
}
.menu-link:hover{
    color: #F60D0D;
}

.menu-aside{
    border: 1px solid #000000;
    width: 320px;
    margin-right: 52px;
    font-size: 23px;
    line-height: 23px;
}
.section-menu{
    display: flex;
    justify-content: space-between;
}
.menu-item-aside{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 42px;
    padding-right: 82px;
}
.menu-item-aside:hover{
    text-align: center;
    background-color: #DBDBDB;
    font-weight: 700;
}
.header{
    margin-bottom: 48px;
}
.wrapper-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
    border: 1px solid #000000;
    margin-bottom: 37px;
}
.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
.text-info{
    margin-bottom: 34px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #63696E;
}
.footer-list{
    display: flex;
    color: #0C1927

}
.footer-list-item:not(:last-child){
    margin-right: 30px;
}
.footer-list-item{
    font-size: 24px;
    line-height: 24px;
    position: relative;
}
.copyright-wrapper{
    font-size: 24px;
    line-height: 24px;
}
.main{
    margin-bottom: 54px;
}
.footer-list-item:hover{
    color: deepskyblue;
}
.footer-list-item:hover::after{
    content: "";
    position: absolute;
    bottom: -30%;
    right: 0;
    left: 0;
    border: 1px solid deepskyblue;
}
.text-info{
    font-size: 18px;
    line-height: 24px;
}
